%h2 Activate your Autorulate account
%p
  = "Hi  #{@user.name}!"
%p
  Welcome to the Autorulate App! 
%p 
  ="Click #{link_to "here", edit_account_activation_url(@user.activation_token, email: @user.email)} on the link below to activate your account."